<widget-header titulo = 'Lista de colaboradores'></widget-header>
<div class="corpo">
		<nav class="navbar navbar-inverse">
  			<div class="container">
		   		<ul class="nav nav-pills">
		  			<li role="presentation"><a href="/#/concursos">Cadastro de concursos</a></li>
                    <li role="presentation"><a href="/#/cadastro">Cadastro de colaborador</a></li>
                    <li role="presentation"><a href="/#/escala">Escalar colaborador</a></li>
		  			<li role="presentation" class="active"><a href="/#/listar">Listar colaboradores</a></li>
                    <li ng-click="vm.logoff()"><a href="/#/" class="logoff">logoff</a></li>
                    <li role="presentation"><a href="" class="usuario">{{vm.user}}</a></li>
                    <li role="presentation"><a href="" class="usuario">{{vm.local}}</a></li>
		  		</ul>
  			</div>
		</nav>
		
		<form name="myForm">
        <label class="fonteBranca">Escolha um concurso</label>
            <select ng-model='vm.lista' id="lista" class="form-control" ng-options="item.nome for item in vm.opcoes track by item.nome" ng-change="vm.mudar(vm.lista)"></select>
        <label class="fonteBranca">Escolha uma função</label>
            <select ng-model='vm.funcao' class="form-control" ng-options="item for item in vm.select" ng-change="vm.filtrar(vm.funcao)"></select>
        </form>

        <div class="{{vm.classe}} corpoProdutos" role="alert">
            <ul class="list-group">
              <li class="list-group-item">Quantidade utilizada: {{vm.contador}} colaboradores.</li>
              <li class="list-group-item"> Quantidade prevista: {{vm.lista.quantidade}} colaboradores.</li>
            </ul>
        </div>

        <div class="corpoProdutos">
        <table class="tabela">
                <tr>
                    <td class="centralizado headerTabela coluna1">cpf</td>
                    <td class="centralizado headerTabela" >nome</td>
                    <td class="centralizado headerTabela coluna1">função</td>
                    <td class="centralizado headerTabela coluna1">ação</td>
                    <td class="centralizado headerTabela coluna1">ação</td>
                    
                </tr>
                <tr ng-repeat="campo in vm.listaColaboradores">
                    <td class="centralizado fundoBranco coluna1">{{campo.cpf}}</td>
                    <td class="fundoBranco afastamentoTabelaEsquerda">{{campo.nome | uppercase}}</td>
                     <td class="fundoBranco afastamentoTabelaEsquerda coluna1">{{campo.funcao}}</td>

                    <td class="centralizado fundoBranco coluna1">
                        <li class="list-group-item">
                        <span class="badge"></span>
    
                        <a  target="_blank" ng-href='/#/imprimir/{{campo._id}}/{{campo.funcaoFormatada}}/{{campo.localFormatada}}/{{campo.data}}'>imprimir recibo</a>
                        </li>

                    </td>
                    <td class="centralizado fundoBranco coluna1">
                        <li class="list-group-item" ng-click='vm.excluir(campo)'>
                        <span class="badge"></span>
                        <a  ng-href="">excluir</a>
                        </li>
                    </td>
                     
                </tr>
        </table>
    </div>

    <div class="inputBox">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.imprimir()">Imprimir a lista</button>
    </div>

    	

</div>