<widget-header titulo = 'Cadastro de Concursos'></widget-header>
<div class="corpo">
		<nav class="navbar navbar-inverse">
  			<div class="container">
		   		<ul class="nav nav-pills">
		   			<li role="presentation" class="active"><a href="">Cadastro de concursos</a></li>
		  			<li role="presentation"><a href="/#/cadastro">Cadastro de colaborador</a></li>
		  			<li role="presentation"><a href="/#/escala">Escalar colaborador</a></li>
		  			<li role="presentation"><a href="/#/lista">Listar colaboradores</a></li>
		  			<li ng-click="vm.logoff()"><a href="/#/" class="logoff">logoff</a></li>
		  			<li role="presentation"><a href="" class="usuario">{{vm.user}}</a></li>
		  			<li role="presentation"><a href="" class="usuario">{{vm.local}}</a></li>
		  		</ul>
  			</div>
		</nav>

	<form name="myForm">
		<div class="form-group">
    		<label class="fonteBranca">Nome do concurso</label>
    		<input type="text" class="form-control" placeholder="nome do concurso" ng-model='vm.concurso.nome' ng-change="vm.upperNome()">

    		
    		<label class="fonteBranca">Data</label>
    		<input class="form-control"  placeholder="data" ng-model='vm.concurso.data' datepicker>

    		<label class="fonteBranca">Período</label>
            <select ng-model='vm.concurso.periodo' class="form-control" ng-options="item for item in vm.opcoesPeriodo track by item"></select>

            <label class="fonteBranca">Empresa</label>
            <select ng-model='vm.concurso.empresa' class="form-control" ng-options="item.nome for item in vm.empresas track by item.cnpj"></select>

            <label class="fonteBranca">Quantidade de colaboradores</label>
    		<input type="number" class="form-control"  placeholder="quantidade de colaboradores" ng-model='vm.concurso.quantidade'>


			<div class="corpoProdutos fonteBranca">
				<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.salvar(vm.concurso)">Salvar cadastro</button>
			</div>

		</div>
	</form>	


</div>